@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Noto Sans SC", ui-sans-serif, system-ui, sans-serif;
  
  --color-brand: #111827;
  --color-border-subtle: #f1f1f1;
  --color-surface-hover: #fafafa;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 0, 'opsz' 20;
  font-size: 20px;
}

@layer base {
  body {
    font-family: var(--font-sans);
  }
}

/* Print styles */
@media print {
  .no-print {
    display: none !important;
  }
}
